body{justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
width: 100vw;
background-color: rgb(63, 105, 144);}
#title{color: rgb(114, 203, 88);}
#button{background-color: rgb(13, 6, 48);}
#input{background-color: rgb(255, 66, 66);
margin-bottom: 6px;}
#output{color: rgb(255, 159, 28);}